<main>
<div class="container px-5 px-sm-0 mt-3">
  <div class="row">
    <div class="col-md-3  ">
      <h2>User info</h2>



       <%= image_tag @book.user.get_profile_image(100,100) %>
       <table class="table">
  　　 　<tbody><tr></tr>
       <tr>
	     <th>name</th>
	     <th><%= @book.user.name %></th>
       </tr>
       <tr>
	     <th>introduction</th>
	     <th><%= @book.user.introduction %></th>
       </tr>
       </tbody></table>

       <%= link_to edit_user_path(@user), class:"btn btn-outline-secondary btn-block" do %>
    <i class="fas fa-user-cog"></i>
     <% end %>
       
     
      <h2>New book</h2>
     <%= form_with model: @book do |f| %>
      <p>Title</p>
      <%= f.text_field :title %>
      <p>Opinion</p>
      <%= f.text_field :body %><br>
      <input type="submit" name="commit" value="Create Book" class="btn btn-success" data-disable-with="Create Book">
      <% end %>
    </div>

  <div class="col-md-8 offset-md-1">
<h2>Book detail</h2>

<table class="table">
  <thead>

  </thead>


  <tbody>
  <tr>
    <td><%= image_tag @book.user.get_profile_image(100,100) %><br>
    <a><%= link_to @book.user.name ,user_path(@user) %><a></td>
    <td><%= @book.title %></td>
    <td><%= @book.body %></td>
    <% if @book.user == current_user %>
    <td><%= link_to "Edit", edit_book_path(@book.id),class: "btn btn-success"  %></td>
    <td><%= link_to "Destroy", book_path(@book),class: "btn btn-danger", method: :delete %></td>
  <% end %>

  </tr>
  </tbody>

 </table>
    </div>
  </div>
</div>
</main>
